/* Start Variables */
:root {
  --section-background: #f6f6f6;
  --transition-time: 0.3s;
  --padding-section: 60px;
  --main-color: #10cab7;
  --secondary-color: #2c4755;
}
/* End Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Component */
.special-heading {
  font-weight: 800;
  font-size: 100px;
  color: #ebeced;
  text-align: center;
  margin: 0;
}
.special-heading + p {
  font-size: 20px;
  color: #797979;
  text-align: center;
  margin: -30px 0 0;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin: -20px 0 0;
  }
}
/* End Component */
/* Start Header */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header .container .logo {
  max-width: 60px;
}
header .container .links {
  position: relative;
}
header .container .links .burger-menu {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
header .container .links .burger-menu span {
  background-color: #333;
  height: 2px;
  margin-bottom: 6px;
}
header .container .links .burger-menu span:first-child {
  width: 100%;
}
header .container .links .burger-menu span:nth-child(2) {
  width: 60%;
  transition: var(--transition-time, 0.3s);
}
header .container .links:hover .burger-menu span:nth-child(2) {
  width: 100%;
}
header .container .links .burger-menu span:last-child {
  width: 100%;
}
header .container .links ul {
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  position: absolute;
  right: 0;
  display: none;
  user-select: none;
  z-index: 1;
}
header .container .links:hover ul {
  display: block;
}
header .container .links ul::before {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent #f6f6f6;
  top: -20px;
  right: 5px;
}
header .container .links ul a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 15px;
  transition: var(--transition-time, 0.3s);
}
header .container .links ul li {
  background-color: #f6f6f6;
  width: 220px;
}
header .container .links ul li:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
}
header .container .links ul li:hover a {
  padding-left: 25px;
}
/* End Header */
/* Start Landing */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: center;
  max-width: 100%;
}
.landing .intro-text h2 {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  color: var(--main-color, #10cab7);
}
.landing .intro-text p {
  margin: 10px 0 0;
  font-size: 19px;
  line-height: 1.7;
}
/* End Landing */
/* Start Ideas */
.ideas {
  padding-top: var(--padding-section, 60px);
  padding-bottom: var(--padding-section, 60px);
  background-color: var(--section-background, #f6f6f6);
}
.ideas .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.ideas .container .col {
  text-align: center;
}
.ideas .container .col i {
  color: var(--main-color, #10cab7);
}
.ideas .container .col p {
  line-height: 1.8;
  color: #777;
}
/* End Ideas */
/* Start Services */
.services {
  padding-top: var(--padding-section, 60px);
  padding-bottom: var(--padding-section, 60px);
}
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services-content .col {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 767px) {
  .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services-content .srv {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
}
.services-content .srv i {
  flex-basis: 60px;
  color: var(--main-color, #10cab7);
}
.services-content .srv .info {
  flex: 1;
}
.services-content .srv .info h3 {
  margin: 0 0 30px;
}
.services-content .srv .info p {
  line-height: 1.7;
  color: #444;
}
.services-content .image {
  position: relative;
  text-align: center;
}
.services-content .image::before {
  content: "";
  background-color: var(--secondary-color, #2c4755);
  height: calc(100% + 100px);
  position: absolute;
  width: 80px;
  top: -50px;
  z-index: -1;
  right: 0;
}
.services-content .image img {
  width: 260px;
}
@media (max-width: 1199px) {
  .services-content .image-column {
    display: none;
  }
}
/* End Services*/
/* Start Portfolio*/
.portfolio {
  padding-top: var(--padding-section, 60px);
  padding-bottom: var(--padding-section, 60px);
  background-color: var(--section-background, #f6f6f6);
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.portfolio-content .card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.portfolio-content .card .image {
    overflow: hidden;
}
.portfolio-content .card img {
  max-width: 100%;
  filter: grayscale(1);
  transition: var(--transition-time, 0.3s);
}
.portfolio-content .card img:hover {
    filter: grayscale(0);
    transform: rotate(15deg) scale(1.4);
}
.portfolio-content .card .more-info {
  padding: 20px;
}
.portfolio-content .card .more-info h3 {
  margin-top: 0;
}
.portfolio-content .card .more-info p {
  margin-bottom: 0;
}
/* End Portfolio*/
/* Start About*/
.about {
  padding-top: var(--padding-section, 60px);
  padding-bottom: var(--padding-section, 60px);
}
.about-content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
@media (max-width: 991px) {
  .about-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
.about-content .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color: #ebeced;
  top: -40px;
  z-index: -1;
  left: -20px;
}
.about-content .image::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 290px;
  top: -40px;
  z-index: -1;
  right: -190px;
  border-bottom: 80px solid var(--main-color, #10cab7);
  border-left: 80px solid var(--main-color, #10cab7);
}
@media (max-width: 991px) {
  .about-content .image::before,
  .about-content .image::after {
    display: none;
  }
}
.about-content .image img {
  max-width: 100%;
}
.about-content .text {
  flex-basis: calc(100% - 500px);
}
@media (max-width: 991px) {
  .about-content .text {
    margin-top: 60px;
  }
}
.about-content .text p {
  line-height: 1.7;
}
.about-content .text p:first-of-type {
  font-weight: bold;
  margin-bottom: 40px;
}
.about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color, #10cab7);
}
.about-content .text p:last-of-type {
  color: #777;
}
/* End About*/
/* Start Contact */
.contact {
  padding-top: var(--padding-section, 60px);
  padding-bottom: var(--padding-section, 60px);
  background-color: var(--section-background, #f6f6f6);
}
.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.contact-content .info {
  text-align: center;
  padding-top: var(--padding-section, 60px);
  padding-bottom: var(--padding-section, 60px);
}
.contact-content p,
.contact-content a {
  font-size: 35px;
  font-weight: 800;
  margin: 0 0 10px;
}
@media (max-width: 767px) {
  .contact-content p,
  .contact-content a {
    font-size: 25px;
  }
}
.contact-content p {
  color: var(--secondary-color, #2c4755);
  letter-spacing: -2px;
  display: flex;
  flex-wrap: wrap;
}
.contact-content a {
  color: var(--main-color, #10cab7);
  text-decoration: none;
  display: block;
}
.contact-content i {
  color: var(--secondary-color, #2c4755);
  margin-left: 8px;
}
/* End Contact */
/* Start Footer */
footer {
  padding: 30px 10px;
  background-color: var(--secondary-color, #2c4755);
  text-align: center;
  color: #fff;
  font-size: 18px;
}
footer span {
  color: var(--main-color, #10cab7);
  font-weight: bold;
}
/* End Footer */
